[Locations]
send_to_glacier_path=/home/imaging/newspaper_processing/output/lib
shelve_file=/home/imaging/newspaper_processing/.glaciervault.db

[AWS]
vault_id=bni_newspaper_scanning
key=26
secret_key=30

[MySQL]
mysql_host=localhost
mysql_db=
mysql_user=
mysql_pw=
